.col-sm-3.col-xs-3
    a(href='/')
        | Home
.col-sm-3.col-xs-3
    a(href='/about')
        | About
.col-sm-3.col-xs-3
    a(href='/projects')
        | Projects
.col-sm-3.col-xs-3
    a(href='http://dragoncodes.eu/blog')
        | Blog

