.dragon-menu-content.col-md-15
    a(href="/")
        | Home
.dragon-menu-content.col-md-15
    a(href="/about")
        | About
.dragon-menu-content.col-md-15
    a(href="/projects")
        | Projects

.dragon-menu-content.col-md-15
    a(href="http://dragoncodes.eu/blog/" target="_blank")
        | Blog

.dragon-menu-content.col-md-15
    a(href="mailto:dragoncodeseu@gmail.com")
        | Contact
