section.about-container

    div.me-holder

    - var years = (new Date()).getFullYear() - 1995
    .about-info
        | I am a #{years} years old, goofy yet analytical, FullStack from Bulgaria - The Land Of <a target='_blank' class='clear-anchor' href='https://en.wikipedia.org/wiki/Banitsa'>Banitsa</a>
    .about-info
        | I am very skilled at making things ... IoT, Mobile, Desktop, Web whatever, if it's interesting - I am interested.
    .about-info
        | I have a passion for games and the rising
        <a class='clear-anchor' href='https://en.wikipedia.org/wiki/Gamification' target='_blank'> gamification</a> subject

    .col-md-15
        | &thinsp;

    .col-md-15
        | &thinsp;
